/* 
.cardsclass{
    display:inline-block;
    
  } */
  /* .img1{
    background-color: brown;
    display: inline;
  }

  .img2{
    background-color: brown;
    position: absolute;
    margin-left: 500px;
  } */
